*.iml
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.swp
.DS_Store
.grunt
.idea
.lock-wscript
.monitor
.node_repl_history
.npm
build/Release
coverage
dist
lib-cov
logs
node_modules
bower_components
nodemon-ignore
npm-debug.log
npm-debug.log*
pids
results