extends layout

block title
  title= title
block content
  h1 Pick up your calendars.
  .container
    each val in calendarIds
      section.css-table
        section.two-column
          section.cell
            .text
              input(type='checkbox' name='calendars' id= val value=val)
          section.cell
            .text
              h3= val