extends layout

block title
  title= title
block content
  h1 Pick up your calendars.
  .container
    each val in calendarIds
      .row
        .col-sm-1
      input(type='checkbox' name='calendars' id= val value=val)
      label(for=val)
