extends layout

block content
  section.css-table(style="background: white;")
    section.two-column
      section.cell
        // Google Calendar
        .col-sm-6(style='width: 100%')
          a.btn.btn-warning(href='/calendars', style='width: 100%')
            h2.text-danger
              span.fa.fa-calendar
              |&nbsp;Calendar
            p Google Calendar to Jira
      section.cell
        // Trello
        .col-sm-6(style='width: 100%')
          a.btn.btn-default(href='#', style='width: 100%')
            h2.text-primary
              span.fa.fa-trello
              |&nbsp;Trello
            p Trello to Jira
    section.two-column
      section.cell
        // Twitter
        .col-sm-6(style='width: 100%')
          a.btn.btn-info(href='#', style='width: 100%')
            h2.text-danger
              span.fa.fa-twitter
              |&nbsp;Twitter
            p Twitter publish
      section.cell
        // Slack
        .col-sm-6(style='width: 100%')
          a.btn.btn-danger(href='#', style='width: 100%')
            h2.text-success
              span.fa.fa-slack
              |&nbsp;Slack
            p Slack publish