extends layout

block content

  if messages
    section.css-table
      section.cell
      for message in messages
        section.css-table
          section.cell(style="display: table")
            .text-danger
              h4!= message

  section.css-table(style="background: white; padding-bottom: 15px;")
    section.two-column
      section.cell
        // Google Calendar
        .col-sm-6(style='width: 100%; padding: 5px')
          a.btn.btn-warning(href='/calendars', style='width: 100%')
            h2.text-warning
              span.fa.fa-calendar
              |&nbsp;Calendar
            p Google Calendar to Jira
      section.cell
        // Trello
        .col-sm-6(style='width: 100%; padding: 5px')
          a.btn.btn-success(href='/trello', style='width: 100%')
            h2.text-warning
              span.fa.fa-trello
              |&nbsp;Trello
            p Trello to Jira
    section.two-column
      section.cell
        // Twitter
        .col-sm-6(style='width: 100%; padding: 5px')
          a.btn.btn-info(href='#', style='width: 100%')
            h2.text-info
              span.fa.fa-twitter
              |&nbsp;Twitter
            p Twitter publish
      section.cell
        // Slack
        .col-sm-6(style='width: 100%; padding: 5px')
          a.btn.btn-danger(href='#', style='width: 100%')
            h2.text-danger
              span.fa.fa-slack
              |&nbsp;Slack
            p Slack publish