doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    block title
      title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    block scripts
  body
    header
      .container
        .row
          .col-sm-1
            .well
              nav
                ul
                  li
                    a(href="/")
                      img(src='/images/gsa-logo-small.png')
                  li
                    a(href="/calendars") Calendars
                  li
                    a(href="/picker") Picker
                  li
                    a.btn.btn-danger(href='/unlink/google') Logout
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet

