doctype html
html
    head
        title= title
    body(style={'padding-top': '80px'})
        .container
            .jumbotron.text-center
                img(src='/images/gsa-logo-medium.png')
                h1
                    span.fa.fa-lock
                    | GSA Authentication
                p Login with:&nbsp;
                    a.btn.btn-danger(href='/auth/google')
                        span.fa.fa-google-plus
                        |  Google+
