extends layout

block title
    title= title
block scripts
    script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script.
        var cardsArray = JSON.parse('!{JSON.stringify(cards)}');
        $(function () {
            var cards = $("*[id$='_text']")
            cards.hover(function (e) {
                const target = $(e.currentTarget);
                const id = target.attr("id").replace("_text", "");
                var cardInfo = $.grep(cardsArray, function(e){ return e.id === id; });
                $("#_info").val(JSON.stringify(cardInfo[0]));
                $("#info").show();
            });
            cards.mouseout(function (e) {
                $("#info").hide();
            })
        });
block content
    h1 Pick up your trello cards.
    br
    form(action='/jira/ticket', method='post')
        .container
            section.css-table
                section.two-column(style="display: -webkit-box;")
                    section.cell
                        each card in cards
                            section.css-table
                                section.two-column(style="display: -webkit-box;")
                                    if processSeveral
                                        section.cell(style="display: inline-block;")
                                            .text
                                                input(type='checkbox', name='cards', id= card.id, value= card.name)
                                        section.cell
                                            .text
                                                h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= card.name
                                    unless processSeveral
                                        section.cell(style="display: block;")
                                            .text
                                                h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px", id= card.id + "_text")= card.name
                unless processSeveral
                    section.cell(style="display: none;", id="info")
                        .text
                            span(id="_info")
                        .text-center(style="margin: 30px;")
                            button.btn.btn-danger.btn-lg(type='submit')
                                span.icon-size-small.icon-jira-alt
                                | &nbsp;Push to Jira
            if processSeveral
                .text-center(style="margin: 30px;")
                    button.btn.btn-danger.btn-lg(type='submit')
                        span.icon-size-small.icon-jira-alt
                        | &nbsp;Push to Jira