extends layout

block title
  title= title

block content
  h1 Pick up your trello boards.
  br
  .container
    section.css-table
      section.two-column(style="display: inline-block")
        section.cell
          each val in calendarIds
            section.css-table
              section.two-column(style="display: inline-block")
                section.cell
                  .text
                    input(type='checkbox', name='calendars', id= val, value= val)
                section.cell(style="color: #555555")
                  .text
                    h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= val
        section.cell
          section.two-column(style="display: inline-block")
            section.cell
              div#start_date.text.form-group.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          section.cell
              div#end_date.text.form-group.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
  .text-center(style="margin: 30px;")
    a.btn.btn-danger(href='/calendars-details' id='calendars-details')
      span.fa.fa-calendar
      |&nbsp;Get Events