extends layout

block title
  title= title
block scripts
  script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  script.
    $(function () {
      var trelloLists = $('#trello-lists');
      trelloLists.click(function (e) {
        const target = $(e.currentTarget);
        const previuosHref = target.attr('href');
        const $input = $('input:checked[name=lists]');
        let listId = "";
        let listName = "";
        $input.each(function () {
          var $this = $(this);
          if ($this.is(":checked")) {
              listId = $this.attr("id");
              listName = $this.attr("value");
          }
        });
        const href = previuosHref.replace(":listId", listId) + "?listName=" + listName;
        target.attr('href', href);
      });
    });
block content
  h1 Pick up your trello cards.
  br
  .container
    section.css-table
      section.cell
        each list in lists
          section.css-table
            section.two-column(style="display: -webkit-box;")
              section.cell(style="display: inline-block;")
                .text
                  input(type='radio', name='lists', id= list.id, value= list.name)
              section.cell
                .text
                  h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= list.name
  .text-center(style="margin: 30px;")
    a.btn.btn-danger(href='/trello/lists/:listId/cards' id='trello-lists')
      span.fa.fa-trello
      |&nbsp;Get Cards