extends layout

block title
  title= title
block scripts
  script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  script.
    $(function () {
      var trelloLists = $('#trello-lists');
      trelloLists.click(function (e) {
        const target = $(e.currentTarget);
        const previuosHref = target.attr('href');
        const $input = $('input:checked[name=lists]');
        let listId;
        $input.each(function () {
          var $this = $(this);
          if ($this.is(":checked")) {
              listId = $this.attr("id");
          }
        });
        const href = previuosHref + "?listId=" + listId;
        target.attr('href', href);
      });
    });
block content
  h1 Pick up your trello cards.
  br
  .container
    section.css-table
      section.two-column
        section.cell
          each list in lists
            section.css-table
              section
                section.cell
                  .text
                    input(type='radio', name='lists', id= list.id, value= list.id)
                    | &nbsp;
                    h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= list.name
  .text-center(style="margin: 30px;")
    a.btn.btn-danger(href='/trello/lists/cards' id='trello-lists')
      span.fa.fa-trello
      |&nbsp;Get Cards